  <div class="center hero-unit">
  	<h1>Welcome to the MicroBlog!</h1>  

	<h2>
	  This is the Home Page for the MicroBlog
	</h2>

	<%= link_to "Sign Up Now!", '#', class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt:Rails), 'http://rubyonrails.org/' %>
